@import "tailwindcss";


html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  background: #1f1934;
}

main {
  background: #212333;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}